# Task 07: Basic Sales Summary using SQLite & Python

This notebook presents the results of **Task-07**, which demonstrates how to:

- Query a SQLite database using SQL inside Python
- Aggregate basic sales metrics (quantity and revenue)
- Visualize revenue by product using Matplotlib

The core analysis logic is implemented in a reusable Python script
(`src/sales_summary.py`).  
This notebook serves as a **presentation layer only**.

In [1]:
import sys
from pathlib import Path

# Add project root to Python path
PROJECT_ROOT = Path("..").resolve()
sys.path.append(str(PROJECT_ROOT))

from src.sales_summary import fetch_sales_summary, plot_revenue

In [2]:
df = fetch_sales_summary()
df

2026-01-06 15:15:54,684 - INFO - Connecting to SQLite database

    product  total_qty  revenue
0  Notebook         15    750.0
1       Pen         35    175.0
2    Marker         15    150.0
3    Pencil         35    105.0
4    Eraser         20     40.0

In [3]:
plot_revenue(df)

2026-01-06 15:15:56,845 - INFO - Generating revenue bar chart
2026-01-06 15:15:56,986 - INFO - Chart saved to /home/athar/Documents/data-analyst-internship-tasks/Task-07_Basic-Sales-Summary-SQLite-Python/outputs/sales_chart.png

## Key Observations

- **Notebook** generated the highest revenue among all products.
- **Pen** and **Pencil** show high sales volume but moderate revenue.
- The dataset is intentionally small to focus on SQLâ€“Python integration
  rather than data scale.

This task demonstrates a clean workflow for combining SQL queries,
Python data processing, and basic visualization.